<%- include("../layouts/header.ejs") %>

	<body>

		<!-- header section start -->
		<header class="pages-header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="left-header clearfix">
								<ul>
									<li>
										<p><i class="pe-7s-call"></i>(+880) 1910 000251</p>
									</li>
									<li>
										<p><i class="pe-7s-clock"></i>Mon-fri : 9:00-19:00</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="right-header">
								<ul>
									<li><a href="#"><i class="pe-7s-settings"></i></a>
										<ul class="drop-setting">
											<li><a href="my-account.html"><i class="fa fa-user"></i>My account</a></li>
											<li><a href="cart.html"><i class="fa fa-shopping-cart"></i>My cart</a></li>
											<li><a href="wishlist.html"><i class="fa fa-heart"></i>My wishlist</a></li>
											<li><a href="checkout.html"><i class="fa fa-usd"></i>Creck out</a></li>
											<!-- <li><a href="login.html"><i class="fa fa-lock"></i>Login</a></li> -->
										</ul>
									</li>
									<li><a href="cart.html"><i class="pe-7s-cart"></i><span>2</span></a>
										<ul class="drop-cart">
											<li>
												<div class="goto text-center">
													<a href="/cart"><strong>go to cart &nbsp;<i
																class="pe-7s-angle-right"></i></strong></a>
												</div>
											</li>
											<li class="checkout-btn text-center">
												<a href="/checkout">Check out</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom" id="sticky-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-lg-2">
							<div class="logo">
								<a href="index.html"><img src="img/logo2.webp" alt="Crazy Fashion" /></a>
							</div>
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="mainmenu clearfix">
								<nav>
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/shopList">Shop</a></li>
										<li><a href="/userProfile">My Account</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header section end -->
		<!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="pages-title-text">
							<h3>OTP</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


		<body class="container-fluid bg-body-tertiary d-block">
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
					<div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
						<div class="card-body p-5 text-center">
							<h4>Verify</h4>
							<p>Your code was sent to you via email</p>

							<div class="otp-field mb-4">
								<input id="a" type="number" />
								<input id="b" type="number" disabled />
								<input id="c" type="number" disabled />
								<input id="d" type="number" disabled />
								<input id="e" type="number" disabled />
								<input id="f" type="number" disabled />
							</div>

							<button id="verifybtn" class="btn btn-primary mb-3">
								Verify
							</button>

							<p id="timer">Time remaining: <span id="countdown">60</span> seconds</p>

							<p class="resend text-muted mb-0">
								Didn't receive code? <a href="#" id="resendLink">Resend OTP</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</body>

		<!-- login content section end -->
		<!-- footer section start -->
		<footer class="section-padding-top">
			<!-- brand logo area start -->
			<div class="brand-logo">
				<div class="barnd-bg">
					<div class="container">
						<div class="row text-center">
							<div id="brand-logo" class="owl-carousel product-slider owl-theme">
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/3.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/4.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/5.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/6.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- brand logo section end -->
			<!-- service section start -->
			<div class="service section-padding">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-plane"></i>
								<h4>Free Shipping</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-headphones"></i>
								<h4>Customer Support</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-refresh"></i>
								<h4>15 days money back</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- service section end -->
			<!-- footer-top area start -->
			<div class="footer-top section-padding-top">
				<div class="footer-dsc">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>Contact us</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-text">
										<ul>
											<li>
												<i class="pe-7s-map-marker"></i>
												<p>My Company, 45 Puffin Street 1245</p>
												<p>Poffinville France.</p>
											</li>
											<li>
												<i class="pe-7s-call"></i>
												<p>+201 (987) 6641 053</p>
												<p>+202 (987) 6641 056</p>
											</li>
											<li>
												<i class="pe-7s-mail-open"></i>
												<p>info@domainname.com</p>
												<p>company@outlook.com</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>my account</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="login.html">My Account</a></li>
											<li><a href="wishlist.html">My Wishlist</a></li>
											<li><a href="order-complete-2.html">My Orders</a></li>
											<li><a href="#">My Credit slips</a></li>
											<li><a href="#">My Addresses</a></li>
											<li><a href="#">My Personal info</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>customer service</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="contact.html">Contact Us</a></li>
											<li><a href="#">Returns</a></li>
											<li><a href="#">Brands</a></li>
											<li><a href="#">Site Map</a></li>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="wishlist.html">Wish List</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>NEWSLETTER</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-text">
										<p>Lorem ipsum dolor sit amet, consectetures do adipisicing elit, sed do eiusmod
											tempores incididunt ut labore</p>
										<form action="#">
											<input type="text" name="email" placeholder="Enter your mail" />
											<input type="submit" value="submit" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="dubble-border" />
				</div>
				<div class="social-media">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="paypal social-icon">
									<ul>
										<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="social-icon">
									<ul class="floatright">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<p>&copy; 2023 Stinson. All Rights Reserved. Developer by <a
									href="https://themeforest.net/user/codecarnival/portfolio">Codecarnival</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
		<!-- footer section end -->

		<!-- all js here -->
		<!-- jquery latest version -->
		<script src="js/vendor/jquery-3.6.0.min.js"></script>
		<script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- bootstrap js -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<!-- owl.carousel js -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
		<script src="js/jquery.meanmenu.js"></script>
		<!-- countdown JS -->
		<script src="js/countdown.js"></script>
		<!-- nivo.slider JS -->
		<script src="js/jquery.nivo.slider.pack.js"></script>
		<!-- simpleLens JS -->
		<script src="js/jquery.simpleLens.min.js"></script>
		<!-- jquery-ui js -->
		<script src="js/jquery-ui.min.js"></script>
		<!-- sticky js -->
		<script src="js/sticky.js"></script>
		<!-- plugins js -->
		<script src="js/plugins.js"></script>
		<!-- main js -->
		<script src="js/main.js"></script>


		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

		<script>

			const timerDuration = 60;
			let timer = timerDuration;
			let countdownInterval;

			function startTimer() {
				const timerDisplay = document.getElementById("countdown");
				countdownInterval = setInterval(() => {
					timer--;
					if (timer >= 0) {
						timerDisplay.textContent = timer;
					} else {
						clearInterval(countdownInterval);
						const resendLink = document.getElementById("resendLink");
						resendLink.style.display = "inline"; 
					}
				}, 1000);
			}

			document.getElementById("resendLink").style.display = "none"; 
			startTimer();

			document.getElementById("resendLink").addEventListener("click", async function (event) {
				event.preventDefault();
				timer = timerDuration;
				const resendLink = document.getElementById("resendLink");
				resendLink.style.display = "none"; 

				try {
					const response = await fetch('/resendOTP', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
					});
					const responseData = await response.json();
					if (responseData.success) {
						startTimer(); 
					} else {
						console.error(responseData.message);
					}
				} catch (error) {
					console.error("An error occurred while resending OTP:", error);
				}
			});
		</script>


		<script>

			document.getElementById("verifybtn").addEventListener("click", async function () {

				const A = document.getElementById("a").value
				const B = document.getElementById("b").value
				const C = document.getElementById("c").value
				const D = document.getElementById("d").value
				const E = document.getElementById("e").value
				const F = document.getElementById("f").value

				const otp = A + B + C + D + E + F

				const result = await fetch("/otp", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify({
						otp
					})
				})
				const data = await result.json()
				if (data.success) {
					const otpcheck = await Swal.fire({
						title: "Correct",
						text: "OTP verified successfully",
						icon: "success"
					})
					if (otpcheck.isConfirmed) {
						window.location.href = "/login"
					}
				} else {

					Swal.fire({
						title: "OOPs!",
						text: "OTP verification failed!",
						icon: "error"
					})

						(error => {
							console.error("Your fetch have some problem");
						})
				}
			})
		</script>


		<script>

			const inputs = document.querySelectorAll(".otp-field > input");
			const button = document.querySelector(".btn");

			window.addEventListener("load", () => inputs[0].focus());
			button.setAttribute("disabled", "disabled");

			inputs[0].addEventListener("paste", function (event) {
				event.preventDefault();

				const pastedValue = (event.clipboardData || window.clipboardData).getData(
					"text"
				);
				const otpLength = inputs.length;

				for (let i = 0; i < otpLength; i++) {
					if (i < pastedValue.length) {
						inputs[i].value = pastedValue[i];
						inputs[i].removeAttribute("disabled");
						inputs[i].focus;
					} else {
						inputs[i].value = ""; // Clear any remaining inputs
						inputs[i].focus;
					}
				}
			});

			inputs.forEach((input, index1) => {
				input.addEventListener("keyup", (e) => {
					const currentInput = input;
					const nextInput = input.nextElementSibling;
					const prevInput = input.previousElementSibling;

					if (currentInput.value.length > 1) {
						currentInput.value = "";
						return;
					}

					if (
						nextInput &&
						nextInput.hasAttribute("disabled") &&
						currentInput.value !== ""
					) {
						nextInput.removeAttribute("disabled");
						nextInput.focus();
					}

					if (e.key === "Backspace") {
						inputs.forEach((input, index2) => {
							if (index1 <= index2 && prevInput) {
								input.setAttribute("disabled", true);
								input.value = "";
								prevInput.focus();
							}
						});
					}

					button.classList.remove("active");
					button.setAttribute("disabled", "disabled");

					const inputsNo = inputs.length;
					if (!inputs[inputsNo - 1].disabled && inputs[inputsNo - 1].value !== "") {
						button.classList.add("active");
						button.removeAttribute("disabled");

						return;
					}
				});
			});

		</script>

	</body>
	<%- include("../layouts/footer.ejs") %>