<%- include("../layouts/header.ejs") %>

	<body>

		    <style>
        body {
            background-color: #f8f9fa;
        }
        .signup-page {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .login-text {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .log-title h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #343a40;
        }
        .custom-input p {
            font-size: 14px;
            color: #6c757d;
        }
        .custom-input input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }
        .submit-text .btn-register {
            display: block;
            width: 100%;
            padding: 10px;
            background-color:black;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            border: none;
        }
        .submit-text .btn-register:hover {
            background-color: #0056b3;
        }
        .social-login a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            background-color: #db4437;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            text-decoration: none;
        }
        .social-login a:hover {
            background-color: #c23321;
        }
        .social-login-box {
            margin-top: 20px;
        }
        .error-message {
            font-size: 12px;
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>

		<script src="/main.js" defer type="module"></script>

		<!-- header section start -->
		<header class="pages-header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="left-header clearfix">
								<ul>
									<li>
										<p><i class="pe-7s-call"></i>(+880) 1910 000251</p>
									</li>
									<li>
										<p><i class="pe-7s-clock"></i>Mon-fri : 9:00-19:00</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="right-header">
								<ul>
									<li><a href="#"><i class="pe-7s-settings"></i></a>
										<ul class="drop-setting">
											<li><a href="my-account.html"><i class="fa fa-user"></i>My account</a></li>
											<li><a href="cart.html"><i class="fa fa-shopping-cart"></i>My cart</a></li>
											<li><a href="wishlist.html"><i class="fa fa-heart"></i>My wishlist</a></li>
											<li><a href="checkout.html"><i class="fa fa-usd"></i>Creck out</a></li>
											<!-- <li><a href="login.html"><i class="fa fa-lock"></i>Login</a></li> -->
										</ul>
									</li>
									<li><a href="cart.html"><i class="pe-7s-cart"></i><span>2</span></a>
										<ul class="drop-cart">
											<li>
												<div class="goto text-center">
													<a href="/cart"><strong>go to cart &nbsp;<i
																class="pe-7s-angle-right"></i></strong></a>
												</div>
											</li>
											<li class="checkout-btn text-center">
												<a href="/checkout">Check out</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom" id="sticky-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-lg-2">
							<div class="logo">
								<a href="index.html"><img src="img/logo2.webp" alt="Crazy Fashion" /></a>
							</div>
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="mainmenu clearfix">
								<nav>
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/shopList">Shop</a></li>
										<li><a href="/userProfile">My Account</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header section end -->
		<!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="pages-title-text">
							<h3>Signup</h3>
							<ul>
								<li><a href="/">Home</a></li>
								<li><span>/</span>Signup</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- login content section start -->

		<section class="pages signup-page">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="login-text new-customer text-center">
							<div class="log-title">
								<h3><strong>Customer Signup</strong></h3>
								<hr />
							</div>
							<div class="custom-input">
								<form id="formSignup">
									<input type="text" id="name" name="name" placeholder="Name" required />
									<div id="name-error" class="error-message" style="color:red;"></div>
									<input type="email" id="email" name="email" placeholder="Email Address" required />
									<div id="email-error" class="error-message" style="color:red;"></div>
									<input type="tel" id="phone" name="number" placeholder="Phone Number" required />
									<div id="mobile-error" class="error-message" style="color:red;"></div>
									<input type="password" id="password" name="password" placeholder="Password" required />
									<div id="password-error" class="error-message" style="color:red;"></div>
									<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />
									<div id="confirmPassword-error" class="error-message" style="color:red;"></div>
									<div class="submit-text coupon">
										<button type="submit" class="btn btn-register">Register</button>
									</div>
								</form>
							</div>
							<div class="social-login-box">
								<p>Or sign up with</p>
								<div class="social-login">
									<a id="google-login-btn" class="btn btn-google">Google</a>
								</div>
							</div>
							<div>
								<p>Do have an account? <a href="/login">Login</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- login content section end -->
		<!-- footer section start -->
		<footer class="section-padding-top">
			<!-- brand logo area start -->
			<div class="brand-logo">
				<div class="barnd-bg">
					<div class="container">
						<div class="row text-center">
							<div id="brand-logo" class="owl-carousel product-slider owl-theme">
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/3.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/4.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/5.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/6.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="col-12">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- brand logo section end -->
			<!-- service section start -->
			<div class="service section-padding">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-plane"></i>
								<h4>Free Shipping</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-headphones"></i>
								<h4>Customer Support</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-refresh"></i>
								<h4>15 days money back</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- service section end -->
			<!-- footer-top area start -->
			<div class="footer-top section-padding-top">
				<div class="footer-dsc">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>Contact us</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-text">
										<ul>
											<li>
												<i class="pe-7s-map-marker"></i>
												<p>My Company, 45 Puffin Street 1245</p>
												<p>Poffinville France.</p>
											</li>
											<li>
												<i class="pe-7s-call"></i>
												<p>+201 (987) 6641 053</p>
												<p>+202 (987) 6641 056</p>
											</li>
											<li>
												<i class="pe-7s-mail-open"></i>
												<p>info@domainname.com</p>
												<p>company@outlook.com</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>my account</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="login.html">My Account</a></li>
											<li><a href="wishlist.html">My Wishlist</a></li>
											<li><a href="order-complete-2.html">My Orders</a></li>
											<li><a href="#">My Credit slips</a></li>
											<li><a href="#">My Addresses</a></li>
											<li><a href="#">My Personal info</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>customer service</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="contact.html">Contact Us</a></li>
											<li><a href="#">Returns</a></li>
											<li><a href="#">Brands</a></li>
											<li><a href="#">Site Map</a></li>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="wishlist.html">Wish List</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>NEWSLETTER</h4>
										<hr class="dubble-border" />
									</div>
									<div class="footer-text">
										<p>Lorem ipsum dolor sit amet, consectetures do adipisicing elit, sed do eiusmod
											tempores incididunt ut labore</p>
										<form action="#">
											<input type="text" name="email" placeholder="Enter your mail" />
											<input type="submit" value="submit" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="dubble-border" />
				</div>
				<div class="social-media">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="paypal social-icon">
									<ul>
										<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="social-icon">
									<ul class="floatright">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<p>&copy; 2023 Stinson. All Rights Reserved. Developer by <a
									href="https://themeforest.net/user/codecarnival/portfolio">Codecarnival</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
		<!-- footer section end -->

		<!-- all js here -->
		<!-- jquery latest version -->
		<script src="js/vendor/jquery-3.6.0.min.js"></script>
		<script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- bootstrap js -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<!-- owl.carousel js -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
		<script src="js/jquery.meanmenu.js"></script>
		<!-- countdown JS -->
		<script src="js/countdown.js"></script>
		<!-- nivo.slider JS -->
		<script src="js/jquery.nivo.slider.pack.js"></script>
		<!-- simpleLens JS -->
		<script src="js/jquery.simpleLens.min.js"></script>
		<!-- jquery-ui js -->
		<script src="js/jquery-ui.min.js"></script>
		<!-- sticky js -->
		<script src="js/sticky.js"></script>
		<!-- plugins js -->
		<script src="js/plugins.js"></script>
		<!-- main js -->
		<script src="js/main.js"></script>


		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


		<script>
			document.getElementById('formSignup').addEventListener('submit', async function (event) {
				event.preventDefault();
				const name = document.getElementById('name').value;
				const email = document.getElementById('email').value;
				const phone = document.getElementById('phone').value;
				const password = document.getElementById('password').value;
				const confirmPassword = document.getElementById('confirmPassword').value;

				// Regular expressions for validation
				const nameRegex = /^[^\s][a-zA-Z\s]*[^\s]$/;
				const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
				const mobileRegex = /^(\+?\d{1,3}[- ]?)?(6|7|8|9)\d{9}$/;
				const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{6,}$/;

				let isValid = true;

				// Validation checks
				if (!nameRegex.test(name)) {
					showError('name-error', "User Names can only contain letters and special characters.");
					isValid = false;
				} else {
					hideError('name-error');
				}

				if (!emailRegex.test(email)) {
					showError('email-error', 'Please enter a valid email address.');
					isValid = false;
				} else {
					hideError('email-error');
				}

				if (!mobileRegex.test(phone)) {
					showError('mobile-error', 'Please enter a valid mobile number.');
					isValid = false;
				} else {
					hideError('mobile-error');
				}

				if (!passwordRegex.test(password)) {
					showError('password-error', 'Passwords must be at least 6 characters long and contain at least one letter and one digit.');
					isValid = false;
				} else {
					hideError('password-error');
				}

				if (password !== confirmPassword) {
					showError('confirmPassword-error', 'Passwords do not match.');
					isValid = false;
				} else {
					hideError('confirmPassword-error');
				}

				if (isValid) {
					try {
						const response = await fetch('/signup', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								name,
								email,
								phone,
								password
							})
						});

						if (response.ok) {
							const data = await response.json();
							if (data.success) {
								const result = await Swal.fire({
									title: 'Success!',
									text: 'Signup successfully!',
									icon: 'success'
								});
								if (result.isConfirmed) {
									window.location.href = '/otp';
								}
							} else {
								console.error('Server response indicates failure:', data.message);
							}
						} else {
							const errorData = await response.json();
							if (errorData.message === "Email already exists") {
								await Swal.fire({
									title: 'Error',
									text: 'Email already exists.',
									icon: 'error'
								});
							} else {
								console.error('Server responded with error status:', response.status);
								await Swal.fire({
									title: 'Error',
									text: 'An unexpected error occurred.',
									icon: 'error'
								});
							}
						}
					} catch (error) {
						console.error('An error occurred during the fetch:', error);
						await Swal.fire({
							title: 'Error',
							text: 'An unexpected error occurred.',
							icon: 'error'
						});
					}
				}
			});

			function showError(errorId, message) {
				const errorElement = document.getElementById(errorId);
				errorElement.textContent = message;
			}

			function hideError(errorId) {
				const errorElement = document.getElementById(errorId);
				errorElement.textContent = '';
			}

		</script>

		<script>
			document.getElementById('variant-form').addEventListener('submit', async function (event) {
				event.preventDefault();

				const formData = new FormData(this);
				const password = formData.get('password'); // Assuming the form contains a field named 'password'

				try {
					// Hash the password before sending the form data
					const hashedPassword = await hashPassword(password);
					formData.set('password', hashedPassword);

					const sizes = Array.from(document.querySelectorAll(".size-input")).map(input => input.value);
					let stocks = Array.from(document.querySelectorAll(".stock-input")).map(input => input.value);
					stocks = stocks.map(stock => parseInt(stock, 10));

					sizes.forEach((size, index) => {
						formData.append(`sizes[${index}]`, size);
						formData.append(`stocks[${index}]`, stocks[index]);
					});

					const response = await fetch(`/admin/loadVarients/${productId}`, {
						method: "POST",
						body: formData
					});

					const data = await response.json();
					console.log("DATA IS REACHED CORRECTLY ---------", data);

					if (data.success) {
						await Swal.fire({
							title: "Added",
							text: "Variant added successfully",
							icon: "success"
						});
						window.location.href = "/admin/productList";
					} else {
						await Swal.fire({
							title: "Error",
							text: data.message || "Failed to add variant",
							icon: "error"
						});
					}
				} catch (error) {
					console.error("Error:", error);
					await Swal.fire({
						title: "Error",
						text: "An unexpected error occurred.",
						icon: "error"
					});
				}
			});

		</script>

	</body>

	<%- include("../layouts/footer.ejs") %>